body 	{
	font-family: Helvitica, sans-serif;
}

ul.navigation-bar {
	list-style: none;
}

.navigation-bar li {
	display: inline;
	color: gray;
	padding: 8px;
}

.navigation-bar a {
	text-decoration: none;
	color: black;
}
/*.jumbotron {
	width: 100%;
	height: 100%;

}*/

/*.jumbotron img {
	height: 200px;
}*/

.container img {
	height: 100%;
	width: 100%;
	position: relative;
}

.container span {
	text-align: center;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 48px;
	border: 2px solid red;
}

/*.container img	{
	height: 100%;
	width: 100%;
}*/

.plans li {
	list-style: none;
}

.column {
	float: left;
}


.column span {
	font-size: 60px;
}

.levels li {
	color: white;
	text-align: center;
	text-transform: uppercase;
	list-style: none;
	margin: auto;
}

.personal {
	background: green;
	height: 200px;
	width: 250px;
}


.business {
	background: blue;
	height: 200px;
	width: 250px;
}

.enterprise {
	background: black;
	height: 200px;
	width: 250px;
}


.detailed_info {
	display: inline-block;
}




