body 	{
	font-family: Helvitica, sans-serif;
	margin: 0;
	padding: 0;

}

ul.navigation-bar {
	list-style: none;
}

.navigation-bar li {
	display: inline;
	color: gray;
	padding: 8px;
}

.navigation-bar a {
	text-decoration: none;
	color: black;
}
.container {
	/*border: 3px solid yellow;*/
	height: 400px;
	width: 1208px;
}
.container img {
	/*height: 100%;
	width: 100%;*/
	position: relative;
	display: block;
	/*margin-left: auto;
	margin-right: auto;*/
	height: 400px;
	width: auto;
}

.container span {
	color: white;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 33%;
	font-size: 42px;
	/*border: 2px solid red;*/
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

div.offeredplans {
	width: 1208px;
	height: 400px;
	padding: 0;
	margin: 0;
	/*position: relative;*/
	border: 1px solid yellow;
}

.column {
	float: left;
	position: relative;
	right: -15%;
}

/*.pricing2 {
	position: absolute;
}*/

ul.plans {
	border: 1px solid red;
}

.plans li {
	list-style: none;
	border: 1px solid red;
	text-align: center;
	color: gray;
	background: lightgray;
}

.column span {
	font-size: 60px;
}

/*.levels ul {
	margin-top: 25px;
}*/

.levels li {
	color: white;
	text-align: center;
	text-transform: uppercase;
	list-style: none;
	margin: auto;
	margin-top: 10px;
}

.personal {
	background: green;
	height: 200px;
	width: 280px;
	padding-left: 0;
}


.business {
	background: blue;
	height: 200px;
	width: 280px;
}

.enterprise {
	background: black;
	height: 200px;
	width: 280px;
}


.detailed_info {
	display: inline-block;
}




