body 	{
	font-family: Helvitica, sans-serif;
	margin: 0;
	padding: 0;

}

ul.navigation-bar {
	list-style: none;
}

.navigation-bar li {
	display: inline;
	color: gray;
	padding: 8px;
}

.navigation-bar a {
	text-decoration: none;
	color: black;
}
.container {
	/*border: 3px solid yellow;*/
	height: 400px;
	width: 1208px;
	position: relative;
}
.container img {
	/*height: 100%;
	width: 100%;*/
	/*position: relative;
	display: block;
	/*margin-left: auto;
	margin-right: auto;*/
	height: 400px;
	width: auto;
}

.container span {
	color: white;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 33%;
	font-size: 42px;
	/*border: 2px solid red;*/
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

div.offeredplans {
	width: 1208px;
	height: 540px;
	/*height: 400px;*/
	padding: 0;
	margin: 0;
	/*position: relative;*/
	border: 1px solid yellow;
}

.column {
	float: left;
	position: relative;
	right: -10%;
}

/*.pricing2 {
	position: absolute;
}*/

ul.levels.personal {
	margin-bottom: 0;
	margin-top: 40px;
}

ul.levels.business {
	margin-bottom: 0;
	margin-top: 40px;
}

ul.levels.enterprise {
	margin-bottom: 0;
	margin-top: 40px;
}
/*
ul.plans {
	/*border: 1px darkgray;*/
	/*margin-top: 0;
}

.plans li {
	list-style: none;
	/*border: 1px red;*/
	/*text-align: center;
	color: black;
	background: whitesmoke;
	height: 40px;
}

.plans li:last-child {
	background: white;
}

.plans button {
	background: white;
	color: black;
	border: 2px darkgray;
	border-radius: 20px;
	height: 30px;
}
*/
.column span {
	font-size: 72px;
	font-weight: lighter;
}

/*.levels ul {
	margin-top: 25px;
}*/

ul.levels {
	padding-top: 20px;
}

.levels li {
	color: white;
	text-align: center;
	/*text-transform: uppercase;*/
	list-style: none;
	letter-spacing: 2px;
	/*font-weight: lighter;*/
	margin: auto;
	padding: 3px;

}
.levels p {
	/*color: gray;*/
	opacity: .5;
	margin-top: 0;
	letter-spacing: 0;
	font-weight: bold;
}

.personal {
	background: darkseagreen;
	height: 160px;
	width: 270px;
	padding-left: 0;
	margin-left: 40px;
}


.business {
	background: steelblue;
	height: 160px;
	width: 270px;
	padding-left: 0;
	margin-left: 40px;
}

.enterprise {
	background: black;
	height: 160px;
	width: 270px;
	padding-left: 0;
	margin-left: 40px;
}


ul.plans {
	/*border: 1px solid gray;*/
	margin-top: 0;

}

.plans li {
	list-style: none;
	border: .5px solid gray;
	text-align: center;
	color: black;
	background: whitesmoke;
	height: 40px;
	font-size: 12px;
}

.plans li:last-child {
	background: white;
}

.plans button {
	background: white;
	color: black;
	border: .5px solid gray;
	border-radius: 20px;
	height: 30px;
}

/*div.information {
	left: 8%;
}*/


.information {
	position: relative;
	height: 400px;
	width: 850px;
	border: 1px solid red;
	clear: both;
	margin-left: 180px;

}

div.information span {
	letter-spacing: 5px;
}

div.information p {
	font-size: 12px;
	width: 320px;
}

.detailed_info {
	height: 200px;
	width: 400px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	/*margin-left: 20px;*/


}

.detailed_info1 {
	height: 200px;
	width: 400px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

.detailed_info2 {
	height: 200px;
	width: 400px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
}

.detailed_info3 {
	height: 200px;
	width: 400px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
}

.footer {
	background: black;
	height: 60px;
	width: 1208px;
	position: relative;
}

.text-footer {
	position: absolute;
	top: 33%;
	left: 33%;
	text-align: center;
}

.text-footer a {
	color: white;
	font-size: 11px;
}
.text-footer span {
	color: white;
	font-size: 11px;
	opacity: .5;
}


